<div id="mainDashboard" class="row">
  <div class="col-md-8 col-md-offset-3">
    <h1>Welcome to your CamAlert dashboard!</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <%= render 'alert/new' %>
  </div>
</div>