.titleimg {
  max-width: 100%;
}

#main-dashboard h1 {
    text-align: center;
    margin-bottom: 25px;
}

#alert-settings h2 {
    margin-bottom: 25px;
}

#alert-settings .form-group {
    margin-bottom: 25px;
}